{% extends "app/layout.html" %}

{% block content %}

<h2>Welcome to Ben's Patooter</h2>
<h3>There are {{ numberLeft }} left</h3>

<script>
$(document).ready(function(){
    $("a").click(function (event) {
        id = event.target.id;

        toggleString = "." + id.toString();
        $(toggleString).toggle();
    });
});
</script>

<form method="post" action="">
    {% csrf_token %}
    <div style="font-size:smaller">
    <table border="1">
        <thead>
            <tr>
                <td>Bad Match</td>
                <td>First</td>
                <td>Last</td>
                <td>Middle</td>
                <td>Suffix</td>
                <td>DOB</td>
                <td>Gender</td>
                <td>SSN</td>
                <td>Address1</td>
                <td>Address2</td>
                <td>Zip</td>
                <td>MothersMaidenName</td>
                <td>City</td>
                <td>State</td>
                <td>Phone</td>
                <td>Phone2</td>
                <td>Email</td>
                <td>MRN</td>
                <td>Alias</td>
                <td>EnterpriseId</td>
                <td>Alternatives</td>
            </tr>
        </thead>
        {% for record in coloredRecords %}
        <tr>
            <td>
                <input type="checkbox" name="member_{{record.id}}" value="{{record.id}}"/>
            </td>
            <td style="color:{{record.FirstNameColor}}">
                {{record.FirstName}}
            </td>
            <td style="color:{{record.LastNameColor}}">
                {{record.LastName}}
            </td>
            <td style="color:{{record.MiddleNameColor}}">
                {{record.MiddleName}}
            </td>
            <td style="color:{{record.SuffixColor}}">
                {{record.Suffix}}
            </td>
            <td style="color:{{record.DOBColor}}">
                {{record.DOB}}
            </td>
             <td style="color:{{record.GenderColor}}">
                {{record.Gender}}
            </td>
             <td style="color:{{record.SNNColor}}">
                {{record.SNN}}
            </td>
             <td style="color:{{record.Address1Color}}">
                {{record.Address1}}
            </td>
             <td style="color:{{record.Address2Color}}">
                {{record.Address2}}
            </td>
             <td style="color:{{record.ZipColor}}">
                {{record.Zip}}
            </td>
             <td style="color:{{record.MothersMaidenNameColor}}">
                {{record.MothersMaidenName}}
            </td>
             <td style="color:{{record.CityColor}}">
                {{record.City}}
            </td>
             <td style="color:{{record.StateColor}}">
                {{record.State}}
            </td>
             <td style="color:{{record.PhoneColor}}">
                {{record.Phone}}
            </td>
             <td style="color:{{record.Phone2Color}}">
                {{record.Phone2}}
            </td>
             <td style="color:{{record.EmailColor}}">
                {{record.Email}}
            </td>
            <td style="color:{{record.MRNColor}}">
                {{record.MRN}}
            </td>
             <td style="color:{{record.AliasColor}}">
                {{record.Alias}}
            </td>
            <td>
                {{record.EnterpriseId}}
            </td>
            <td>
                <a href="#" id="{{record.EnterpriseId}}">Toggle</a>
            </td>
        </tr>
        {% endfor %}

    {% for softmatchGroup in softMatches %}
        <tr class="{{softmatchGroup.EnterpriseId}}" style="display:none">
            <td colspan="20">Matches {{softmatchGroup.EnterpriseId}}</td>
        </tr>
        {% for record in softmatchGroup.SoftMatches %}
        <tr class="{{softmatchGroup.EnterpriseId}}" style="display:none">
            <td></td>
             <td style="color:{{record.FirstNameColor}}">
                {{record.FirstName}}
            </td>
            <td style="color:{{record.LastNameColor}}">
                {{record.LastName}}
            </td>
            <td style="color:{{record.MiddleNameColor}}">
                {{record.MiddleName}}
            </td>
            <td style="color:{{record.SuffixColor}}">
                {{record.Suffix}}
            </td>
            <td style="color:{{record.DOBColor}}">
                {{record.DOB}}
            </td>
             <td style="color:{{record.GenderColor}}">
                {{record.Gender}}
            </td>
             <td style="color:{{record.SNNColor}}">
                {{record.SNN}}
            </td>
             <td style="color:{{record.Address1Color}}">
                {{record.Address1}}
            </td>
             <td style="color:{{record.Address2Color}}">
                {{record.Address2}}
            </td>
             <td style="color:{{record.ZipColor}}">
                {{record.Zip}}
            </td>
             <td style="color:{{record.MothersMaidenNameColor}}">
                {{record.MothersMaidenName}}
            </td>
             <td style="color:{{record.CityColor}}">
                {{record.City}}
            </td>
             <td style="color:{{record.StateColor}}">
                {{record.State}}
            </td>
             <td style="color:{{record.PhoneColor}}">
                {{record.Phone}}
            </td>
             <td style="color:{{record.Phone2Color}}">
                {{record.Phone2}}
            </td>
             <td style="color:{{record.EmailColor}}">
                {{record.Email}}
            </td>
            <td style="color:{{record.MRNColor}}">
                {{record.MRN}}
            </td>
             <td style="color:{{record.AliasColor}}">
                {{record.Alias}}
            </td>
            <td>
                {{record.EnterpriseId}}
            </td>
        </tr>
        {% endfor %}
    {% endfor %}
    </table>
    </div>
    <input type="hidden" value="{{setId}}" name="setId"/>
    <input type="submit" value="Submit" />
    <input type="hidden" value="{{enterpriseIds}}" name="enterpriseIds"/>
</form>

{% endblock %}
