{% extends "app/layout.html" %}

{% block content %}

<h2>Welcome to Ben's Patooter</h2>
<h3>There are {{ numberLeft }} left</h3>

<form method="post" action="">
    {% csrf_token %}
    <table border="1">
        <thead>
            <tr>
                <td>Bad Match</td>
                <td>First</td>
                <td>Last</td>
                <td>Middle</td>
                <td>Suffix</td>
                <td>DOB</td>
                <td>Gender</td>
                <td>SSN</td>
                <td>Address1</td>
                <td>Address2</td>
                <td>Zip</td>
                <td>MothersMaidenName</td>
                <td>City</td>
                <td>State</td>
                <td>Phone</td>
                <td>Phone2</td>
                <td>Email</td>
                <td>MRN</td>
                <td>Alias</td>
                <td>EnterpriseId</td>
            </tr>
        </thead>
        {% for member in setMembers %}
        <tr>
            <td>
                <input type="checkbox" name="member_{{member.id}}" value="{{member.id}}"/>
            </td>
            <td >
                {{member.RecordId.FirstName}}
            </td>
            <td>
                {{member.RecordId.LastName}}
            </td>
            <td>
                {{member.RecordId.Middle}}
            </td>
            <td>
                {{member.RecordId.Suffix}}
            </td>
            <td>
                {{member.RecordId.DOB}}
            </td>
             <td>
                {{member.RecordId.Gender}}
            </td>
             <td>
                {{member.RecordId.SNN}}
            </td>
             <td>
                {{member.RecordId.Address1}}
            </td>
             <td>
                {{member.RecordId.Address2}}
            </td>
             <td>
                {{member.RecordId.Zip}}
            </td>
             <td>
                {{member.RecordId.MothersMaidenName}}
            </td>
             <td>
                {{member.RecordId.City}}
            </td>
             <td>
                {{member.RecordId.State}}
            </td>
             <td>
                {{member.RecordId.Phone}}
            </td>
             <td>
                {{member.RecordId.Phone2}}
            </td>
             <td>
                {{member.RecordId.Email}}
            </td>
            <td>
                {{member.RecordId.MRN}}
            </td>
             <td>
                {{member.RecordId.Alias}}
            </td>
            <td>
                {{member.RecordId.EnterpriseId}}
            </td>
        </tr>
        {% endfor %}

    {% for softmatchGroup in softMatches %}
        <tr>
            <td colspan="20">Matches {{softmatchGroup.EnterpriseId}}</td>
        </tr>
        {% for member in softmatchGroup.SoftMatches %}
        <tr>
            <td></td>
            <td >
                {{member.FirstName}}
            </td>
            <td>
                {{member.LastName}}
            </td>
            <td>
                {{member.Middle}}
            </td>
            <td>
                {{member.Suffix}}
            </td>
            <td>
                {{member.DOB}}
            </td>
             <td>
                {{member.Gender}}
            </td>
             <td>
                {{member.SNN}}
            </td>
             <td>
                {{member.Address1}}
            </td>
             <td>
                {{member.Address2}}
            </td>
             <td>
                {{member.Zip}}
            </td>
             <td>
                {{member.MothersMaidenName}}
            </td>
             <td>
                {{member.City}}
            </td>
             <td>
                {{member.State}}
            </td>
             <td>
                {{member.Phone}}
            </td>
             <td>
                {{member.Phone2}}
            </td>
             <td>
                {{member.Email}}
            </td>
            <td>
                {{member.MRN}}
            </td>
             <td>
                {{member.Alias}}
            </td>
            <td>
                {{member.EnterpriseId}}
            </td>
        </tr>
        {% endfor %}
    {% endfor %}
    </table>
    <input type="hidden" value="{{setId}}" name="setId"/>
    <input type="submit" value="Submit" />
    <input type="hidden" value="{{enterpriseIds}}" name="enterpriseIds"/>
</form>

{% endblock %}
