<html>
<head><title></title></head>
<body>
        {% for set in passedSets %}
            {% for record in set %}
                    {{record.RecordId.FirstName}},
                    {{record.RecordId.MiddleName}},
                    {{record.RecordId.LastName}},
                    {{record.RecordId.Suffix}},
                    {{record.RecordId.Gender}},
                    {{record.RecordId.SNN}},
                    {{record.RecordId.DOB}},
                    {{record.RecordId.Phone}},
                    {{record.RecordId.Phone2}},
                    {{record.RecordId.Address1}},
                    {{record.RecordId.Address2}},
                    {{record.RecordId.City}},
                    {{record.RecordId.State}},
                    {{record.RecordId.Zip}},
                    {{record.RecordId.MothersMaidenName}},
                    {{record.RecordId.Email}},
                    {{record.RecordId.MRN}},
                    {{record.RecordId.EnterpriseId}},
                    {{record.RecordId.Alias}}
                    <br/>
            {% endfor %}
        <br/>
        {% endfor %}
    </body>
</html>
